* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

#post {
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    width: 600px;
    box-shadow: 0 1px 1px 1px rgba(203, 202, 202, 0.721);
}

#post > #top {
    display: flex;
    justify-content: space-between;
}

#post > #top >#user-card {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#post > #top > #user-card > #user-info {
    padding: 3px;
}

#post > #top > #user-card > #user-info h4 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 5px;
}

#post > #top > #user-card > #user-info > p {
    color: grey;
    font-size: small;
    font-weight: lighter;
}

#link-text {
    text-decoration: none;
    color: black;
}

#link-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-body {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#likes-count {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.like-emoji {
   border: none;
   border-radius: 50%;
   height: 25px;
   width: 25px;
   background-color: red;
   margin-right: 8px;
   margin-left: 20px;
}

#top-pl {
    margin-top: 10px;
}
.post-lines {
    width: 95%;
    margin-left: 2.5%;
    background-color: rgb(194, 193, 193);
    height: 1px;
    border: none;
}

.post-buttons {
    width: 100%;
    display: flex;
    margin: 3px;
    justify-content: space-around;
}

.thumb-button, .comment-button {
    width: 40%;
    height: 35px;
    border: none;
    background-color: white;
}

.thumb-button:hover, .comment-button:hover {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    cursor: pointer;
}

.comments-area {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.n-c-d {
    width: 100%;
}

.new-comment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#new-comment-submit-button {
    height: 30px;
    width: 55px;
    margin-left: 10px;
    background-color: #1877F2;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-weight: bold;

}

#new-comment-submit-button:hover {
    background-color: #166FE5;
    cursor: pointer;
}

#comment-text-area {
    resize: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 330;
    text-align: left;
    color: rgb(101, 100, 100);
    padding: 10px;
    padding-left: 15px;
    background-color: #f1f1f1da;
    border: none;
    min-height: 40px;
    max-height: 100px;
    width: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

.comments-index {
    width: 100%;
}
