* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

#SignupForm {
    height: 500px;
}

#form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* justify-content: center; */
}

#h4 {
    color: #606770;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: 400;
}

#hr {
    width: 100%;
    background-color: rgb(217, 217, 217);
    height: 0.2%;
    border: none;
}

.inputs {
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    width: 98%;
    background-color: #f1f1f1da;
    border: 1.5px solid #e3e4e4;
}

#names {
    display: flex;
    justify-content: space-between;
    margin-right: -2px;
}

.headers {
    font-size: small;
    margin-left: 5px;
    margin-top: 8px;
    color: rgb(93, 91, 91);
}

#bday {
    display: flex;
    justify-content: space-between;
}

.bdayz {
    width: 120px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    border: 1.45px solid #d4d4d4;
}

#gender {
    display: flex;
    justify-content: space-between;
}

.genderz {
    width: 120px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: 1.45px solid #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#signup-button {
    margin-top: 12px;
    background-color: #43a72f;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    width: 200px;
    height: 38px;
    margin-left: 25%;
}

#signup-button:hover {
    background-color: #3a9e26;
    cursor: pointer;
}

.su-errors {
    /* width: 100%; */
    position: relative;
    list-style: none;
    color: red;
    font-weight: bold;
    font-size: 10.5px;
    text-align: right;
    padding-right: 0px;
    margin-right: 0px;
    /* padding-left: 12px; */
}

#su-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#su-top-right {
    width: 250px;
}