#home-page {
    margin-top: 25px;
    padding-bottom: 25px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px */
}

#hp-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px
}

#creator-info {
    width: 20%;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
}

#creator-info > h3 {
    color:rgb(101, 100, 100);
    margin-bottom: 10px;
}

#creator-info > a {
    text-decoration: none;
}

#creator-info > a > h3 {
    color:rgb(101, 100, 100);
    font-weight: 500;
    margin-bottom: 10px;
}

#creator-info > a > h3:hover {
    color:rgb(66, 66, 66);

}

#creator-info > p {
    color:rgb(101, 100, 100);
    margin-bottom: 8px;
}

#hp-ads {
    width: 20%;
    padding-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hp-ads > a {
    text-decoration: none;
    color:black;
    
}

#hp-ads > a:hover {
    color:rgb(101, 100, 100);
}

#hp-ads > a > img {
    width: 100%;
    border-radius: 3px;
}

#hp-ads > h4 {
    color:rgb(101, 100, 100);
    margin-bottom: 10px;
}

#hp-ads > a > h4 {
    text-align: right;
    margin-bottom: 4px;
    font-weight: 500;
}

#hp-ads > a > p {
    font-size: small;
    margin-bottom: 20px;
}

#new-post {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
    box-shadow: 0 1px 1px 1px rgba(203, 202, 202, 0.721);
}

#new-post-button {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 330;
    text-align: left;
    color: rgb(101, 100, 100);
    padding: 10px;
    padding-left: 15px;
    background-color: #f1f1f1da;
    border: none;
    height: 40px;
    width: 84%;
}

#new-post-button:hover {
    background-color: #eaeaea;
    cursor: pointer
}

#selected-user-profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;

}

@media screen and (max-width: 1050px) {
    #hp-ads, #creator-info {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    #new-post {
        width: 90%;
        padding: 10px;
    }

    #new-post-button{
        font-size: 14px;
    }
}

