#search-drop {
    top: 0;
    left: 0;
    /* margin-top: 0px;
    padding-top: 0px; */
    background-color: white;
    border: solid rgb(220, 218, 218) .05px;
    position: absolute;
    width: 330px;
    overflow: auto;
    padding: 2px 10px 10px 10px;
    box-shadow: 1px 4px 4px 0px rgba(135, 135, 135, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-drop-top {
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sdbb {
    border: none;
    border-radius: 50%;
    margin: 3px;
   text-align: center;
}

#sd-back-button {
    font-size: 20px;
    height: 45px;
    width: 45px;
    /* padding: 3px; */
    padding-top: 10px;
}

#search-bar {
    width: 80%;
    height: 45px;
    font-size: 20px;
    /* vertical-align: top; */
    font-weight: lighter;
    border-radius: 20px;
    text-align: left;
    padding-left: 15px;
    /* padding-top: 10px; */
    border: none; 
    resize: none;
    outline:0px none transparent;
    background-color: #EFEFEF;
}

.suggestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

}

.suggestions li {
  
    list-style: none;
    width: 80%;

}

.search-user-cards {
    width: 100%;
    border: none;
    background-color: inherit;
    border-radius: 5px;
    padding: 7px;
}

.search-user-cards:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.search-user-cards > div {
    display: flex;
    /* width: 96%; */
    /* flex-direction: column; */
}

#filter-text {
    /* background-color: green; */
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
    width: 70%;
}

.suc-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;

}

.suc-text > p:first-child {
    font-weight: bold;
}


.suc-text > p:nth-child(2) {
    color: #918e8e;
}

